search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	ProductFacade: App\Model\ProductFacade
	LabelFacade: App\Model\LabelFacade
	OrderFacade: App\Model\OrderFacade
	- App\Model\ExchangeRateFacade(%url%, %appDir%)
	cache.storage: Nette\Caching\Storages\DevNullStorage


console:
	name: Eshop sample
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: http://127.0.0.1
	lazy: false